html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #053742;
  color: #053742;
  text-align: center;
}

h1{
  
}

#main-holder {
  width: 50%;
  height: 95%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #E8F0F2;
  border-radius: 7px;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

.button:hover {background-color: #afb3af}

.button:active {
  background-color: #afb3af;
  box-shadow: 0 5px rgb(158, 158, 158);
  transform: translateY(4px);
}
.button {
  border-radius: 12px;
  padding: 3px 3px;
  background-color: #cae0eb;
  display: inline-block;
  border: 1px solid #cae0eb;
  margin-left: 1px;
  margin-right: 1px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 2px;
}

.column {
  flex: 33%;
  padding: 0px 5px;
}

.column img {
  margin: 2px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
